header{background-color: blue;
		width: 30%;
		border: 10px solid black;
		float: left;
		box-sizing: border-box;}

section{background-color: red;
	border: 2px solid black;
	float:right;
	width: 10%;
	box-sizing: border-box;
}

article{background-color: green;
	float: right;
	width:10%;
	border: 2px solid black;
	box-sizing: border-box;}

.five{background-color: beige;
	width: 10%;
	border: 2px solid black;
	float: right;
	box-sizing: border-box;}

.six{background-color: teal;
	width: 10%;
	border: 2px solid black;
	float: right;
	box-sizing: border-box;}

.seven{background-color: violet;
	width: 10%;
	border: 2px solid black;
	float: right;
	box-sizing: border-box;}

.four{background-color: pink;
	border: 5px solid black;
	float: left;
	clear: both;
	width: 10%;
	box-sizing: border-box;}

.one{background-color: orange;
			border: 2px solid black;
			width: 70%;
			box-sizing: border-box;
			float: right;
		}

		div.two{background-color: purple;
			border: 2px solid black;
			width: 20%;
			box-sizing: border-box;
			float: right;
			clear: right;}

			div.three{background-color: brown;
				border:2px solid black;
				width: 50%;
				box-sizing: border-box;
				float: right;
			}

div.eight{background-color: navy;
				border:2px solid black;
				width: 15%;
				box-sizing: border-box;
				float: right;
				clear: right;
			}

div.nine{background-color: silver;
				border:2px solid black;
				width: 15%;
				box-sizing: border-box;
				float: right;
				
			}
div.ten{background-color: magenta;
		border:2px solid black;
		width: 15%;
		box-sizing: border-box;
		float: right;}

footer{background-color: yellow;
		border:2px solid black;
		width: 15%;
		box-sizing: border-box;
		float: right;
					}

div.end{background-color: khaki;
				border:2px solid black;
			
				box-sizing: border-box;
				float: right;
				clear: both;}
